* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bf-primary: #434343;
  --bf-light: white;
  --bf-dark: black;
}

body {
  background-color: var(--bf-primary);
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

